body
{
	background-image:url(background8.jpg);
}
#next
{
	position:absolute;
	top:30%;
	left:80%;
}
#container
{
	position:absolute;
	width:20%;
	top:30%;
	left:0;
	right:0;
	margin:auto;
	background-color:black;
	padding:30px;
	border:3px solid;
	transition: width 1s ease-in-out;
	transition:background-color 1s ease-in-out;
}
#container:hover
{
	background-color:orange;
	width:50%;
	
}
input[type=text] 
{	
	position:relative;
	height:50px;
	width: 100%;
	border-sizing:border-box;
	border:3px solid;
	border-radius:2px;
	background-color:orange;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out
	transition: background-color 1.0s ease-in-out;
	place-holder:Name;
	padding:15px;
	
	
}

input[type=text]:hover 
{
	width: 100%;
	background-color:white;
	color:grey;
}

#text
{	
	left:20%;
	-webkit-transition: background-color 2,1s ease-in-out;
	transition: background-color 2.0s ease-in-out;
	background-color:black;
	border-sizing:border-box;
	border-radius:5px;
	padding:30px;
	color:white;
	height:30px;
}
#text:hover
{
	color:skyblue;
	height:60px;
	background-color:teal;
}

